<form class="product-container">
    <div class="product-image">
        <a [routerLink]="['/product', product.id]" routerLinkActive="router-link-active">
            <img  [src]="product.url" alt="Product Image">
        </a>
    </div>
    <div class="product-detail">
        <p>{{ product.name }}</p>
        <p>${{ product.price }}</p>

        <!-- <select class="select-input" name="quantity"  [(ngModel)]="quantity">
            <option [selected]="i === quantity" *ngFor="let item of [1,2,3,4,5]; let i = index">{{ i }}</option>
        </select> -->
        <app-select-quantity (selected)="onSelectEvent($event)"></app-select-quantity>
                
        <button (click)="addToCart()">Add to Cart</button>
    </div>    
</form>