<div class="cart-container">
    <div class="cart-panel">
        <div class="cart-item" *ngFor="let cart of products">
            <img [src]="cart.url" alt="Product Image" />
            <div class="cart-item-details">
                <h3>{{cart.name}}</h3>
                <p>${{cart.price}}</p>
                <p>Quantity <input type="number" [(ngModel)]="cart.quantity" class="number-input" (change)="updateCart(cart.quantity, cart.id)"/></p>
            </div>
        </div>
        <h1>Total ${{ total }}</h1>
    </div>
    <form #form="ngForm" class="form-margin" (ngSubmit)="addUser()">

            <label>Full Name</label><br>
            <input type="text" name="name" minlength="3" placeholder="Name (Minimum of 3 characters)" [(ngModel)]="user.name"/>


            <label>Address</label>
            <input type="text" name="address" minlength="6" placeholder="Address (Minimum of 6 characters)" [(ngModel)]="user.address"/>


            <label>Credit Card Number</label>
            <input type="text" name="cardNumber" minlength="16"  maxlength="16" placeholder="(16 digit number)" [(ngModel)]="user.cardNumber"/>
            <button [disabled]="form.invalid" class="button">Submit</button>

    </form>
</div>