<div class="detail-container">
    <img [src]="product?.url" alt="Product Image" alt="product"/>

    <div class="detail-item">
        <h1>{{ product?.name }}</h1>
        <p>${{ product?.price }}</p>
        <p>{{ product?.description }}</p>
        <select class="select-input" name="quantity"  [(ngModel)]="quantity">
            <option [selected]="i === quantity" *ngFor="let item of [].constructor(10); let i = index">{{ i }}</option>
        </select>
                
        <button (click)="addToCart(+quantity)">Add to Cart</button>
    </div>
</div>

